OPENAI_API_KEY=sk-proj-*****

LANGCHAIN_API_KEY=lsv2_****
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=SKALA

HUGGINGFACEHUB_API_TOKEN=hf_****

TAVILY_API_KEY=tvly-****

COHERE_API_KEY=pqe****

OPENROUTER_API_KEY=sk-or-v1-****
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

QDRANT_HOST=localhost
QDRANT_PORT=6333